In [14]:
'''
Script to import hourly weather data from KNMI

Caroline Hallin, 2020-05-14
'''

import csv
from knmy import knmy
import numpy as np

In [95]:
#Check which stations are available
disclaimer, stations, variables, data = knmy.get_hourly_data(start=2019010101, end=2019123124,
                                                             inseason=False, variables=['T',], parse=True)
print(stations)

                        name  latitude  longitude  altitude
number
391                    ARCEN    51.498      6.197      19.5
370                EINDHOVEN    51.451      5.377      22.6
331                   THOLEN    51.480      4.193       0.0
315                HANSWEERT    51.447      3.998       0.0
324               STAVENISSE    51.596      4.006       0.0
375                   VOLKEL    51.659      5.707      22.0
380               MAASTRICHT    50.906      5.762     114.3
240                 SCHIPHOL    52.318      4.790      -3.3
286             NIEUW BEERTA    53.196      7.150      -0.2
310               VLISSINGEN    51.442      3.596       8.0
283                   HUPSEL    52.069      6.657      29.1
280                    EELDE    53.125      6.585       5.2
273                MARKNESSE    52.703      5.888      -3.3
323           WILHELMINADORP    51.527      3.884       1.4
249                 BERKHOUT    52.644      4.979      -2.4
377                      ELL    51.198      5.763      30.0
316                   SCHAAR    51.657      3.694       0.0
313         VLAKTE V.D. RAAN    51.505      3.242       0.0
277               LAUWERSOOG    53.413      6.200       2.9
348                   CABAUW    51.970      4.926      -0.7
308                  CADZAND    51.381      3.379       0.0
319                WESTDORPE    51.226      3.861       1.7
215              VOORSCHOTEN    52.141      4.437      -1.1
278                    HEINO    52.435      6.259       3.6
285               HUIBERTGAT    53.575      6.399       0.0
343          R'DAM-GEULHAVEN    51.893      4.313       3.5
225                 IJMUIDEN    52.463      4.555       4.4
330         HOEK VAN HOLLAND    51.992      4.122      11.9
267                 STAVOREN    52.898      5.384      -1.3
269                 LELYSTAD    52.458      5.520      -3.7
344                ROTTERDAM    51.962      4.447      -4.3
275                   DEELEN    52.056      5.873      48.2
235                  DE KOOY    52.928      4.781       1.2
257             WIJK AAN ZEE    52.506      4.603       8.5
290                  TWENTHE    52.274      6.891      34.8
350              GILZE-RIJEN    51.566      4.936      14.9
251     HOORN (TERSCHELLING)    53.392      5.346       0.7
210               VALKENBURG    52.171      4.430      -0.2
248                 WIJDENES    52.634      5.174       0.8
279                HOOGEVEEN    52.750      6.574      15.8
258              HOUTRIBDIJK    52.649      5.401       7.3
356                HERWIJNEN    51.859      5.146       0.7
209                   IJMOND    52.465      4.518       0.0
265              SOESTERBERG    52.130      5.274      13.9
312            OOSTERSCHELDE    51.768      3.622       0.0
340              WOENSDRECHT    51.449      4.342      19.2
260                  DE BILT    52.100      5.180       1.9
270               LEEUWARDEN    53.224      5.752       1.2
311               HOOFDPLAAT    51.379      3.672       0.0
242                 VLIELAND    53.241      4.921      10.8

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DtypeWarning: Columns (0,1,2,3) have mixed types.Specify dtype option on import or set low_memory=False.
  This is separate from the ipykernel package so we can avoid doing imports until

In [15]:
# retrieve hourly data and check info on variables
stat=330 # station number, example 330 (Hoek van Holland)
disclaimer, stations, variables, data = knmy.get_hourly_data(stations=[stat], start=2019010101, end=2019123124,
                                                             inseason=False, variables=['ALL'], parse=True)

print(variables[6])
print(variables[10])
print(variables[12])
print(variables[13])
print(variables[16])

Variable(Index=6, Abbreviation='T', Description='Temperatuur (in 0.1 graden Celsius) op 1.50 m hoogte tijdens de waarneming')
Variable(Index=10, Abbreviation='Q', Description='Globale straling (in J/cm2) per uurvak')
Variable(Index=12, Abbreviation='RH', Description='Uursom van de neerslag (in 0.1 mm) (-1 voor <0.05 mm)')
Variable(Index=13, Abbreviation='P', Description='Luchtdruk (in 0.1 hPa) herleid naar zeeniveau, tijdens de waarneming')
Variable(Index=16, Abbreviation='U', Description='Relatieve vochtigheid (in procenten) op 1.50 m hoogte tijdens de waarneming')

In [16]:
# retrieve hourly data of selected variables
disclaimer, stations, variables, data = knmy.get_hourly_data(stations=[stat], start=2019010101, end=2019123124,
                                                             inseason=False, variables=['T','Q','RH','P','U'], parse=True)

# drop station, date, and hour column
data = data.drop(['STN','YYYYMMDD','HH'],axis=1)

#drop index 0, row with headers
data= data.drop([0])

print(data)
print(data.dtypes)

#convert format from object to float
data=data.astype(float)
print(data.dtypes)

       T  Q RH      P    U
1     83  0  0  10316   89
2     83  0  0  10312   85
3     81  0  0  10310   87
4     78  0  0  10303   87
5     81  0  0  10299   87
...   .. .. ..    ...  ...
8756  41  0  0  10351  100
8757  42  0  0  10350   96
8758  39  0  0  10347   96
8759  33  0  0  10349   95
8760  31  0  0  10344   93

[8760 rows x 5 columns]
T     object
Q     object
RH    object
P     object
U     object
dtype: object
T     float64
Q     float64
RH    float64
P     float64
U     float64
dtype: object

In [17]:
# Convert units from KNMI convention to units in the Penman eq (Shuttleworth, 1993) 
# T: 0.1 degrees Celsius -> degrees Celsius
# Q : J/cm2/h -> MJ/m2/d
# RH : 0.1 mm /h -> mm/h
# P : 0.1 hPa -> kPa
# U: % (no conversion needed)

data_conv = data.apply(lambda x: x * np.asarray([1e-1, 24e-2, 1e-1, 1e-1, 1]), axis=1)

print(data_conv)

        T    Q   RH       P      U
1     8.3  0.0  0.0  1031.6   89.0
2     8.3  0.0  0.0  1031.2   85.0
3     8.1  0.0  0.0  1031.0   87.0
4     7.8  0.0  0.0  1030.3   87.0
5     8.1  0.0  0.0  1029.9   87.0
...   ...  ...  ...     ...    ...
8756  4.1  0.0  0.0  1035.1  100.0
8757  4.2  0.0  0.0  1035.0   96.0
8758  3.9  0.0  0.0  1034.7   96.0
8759  3.3  0.0  0.0  1034.9   95.0
8760  3.1  0.0  0.0  1034.4   93.0

[8760 rows x 5 columns]

In [18]:
# convert index from index to seconds
data_conv.index = data_conv.index*3600-3600

print(data_conv.index)

print(data_conv)

Int64Index([       0,     3600,     7200,    10800,    14400,    18000,
               21600,    25200,    28800,    32400,
            ...
            31500000, 31503600, 31507200, 31510800, 31514400, 31518000,
            31521600, 31525200, 31528800, 31532400],
           dtype='int64', length=8760)
            T    Q   RH       P      U
0         8.3  0.0  0.0  1031.6   89.0
3600      8.3  0.0  0.0  1031.2   85.0
7200      8.1  0.0  0.0  1031.0   87.0
10800     7.8  0.0  0.0  1030.3   87.0
14400     8.1  0.0  0.0  1029.9   87.0
...       ...  ...  ...     ...    ...
31518000  4.1  0.0  0.0  1035.1  100.0
31521600  4.2  0.0  0.0  1035.0   96.0
31525200  3.9  0.0  0.0  1034.7   96.0
31528800  3.3  0.0  0.0  1034.9   95.0
31532400  3.1  0.0  0.0  1034.4   93.0

[8760 rows x 5 columns]

In [21]:
#Set negative values (precipitation) to zero
data_conv[data_conv < 0] = 0

In [22]:
# save file

data_conv.to_csv('meteo.txt',sep=' ', header=False, float_format='%0.4f', quoting=csv.QUOTE_NONE)